// Mixin for flex center
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Mixin for clearfix
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// Mixin for box shadow
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

// Mixin for border radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

// Mixin for responsive breakpoint
@mixin responsive($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}